/* Hide scrollbar but allow scrolling for the entire application */
html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  overflow: auto;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}