/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #1c1c1c;
}

.header-title {
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.film-icon {
  margin-right: 10px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.logo-icon {
  height: 30px;
  width: auto;
  transition: transform 0.2s;
  margin-left: 10px;
}

.tmdb-logo {
  height: 30px;
  width: auto;
}

.header-icons a:hover .logo-icon {
  transform: scale(1.1);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  
  .header-title {
    font-size: 2rem;
    margin-bottom: 10px;
    transition: transform 0.2s;
  }
  
  .header-icons {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 1.5rem;
  }
  
  .logo-icon, .tmdb-logo {
    height: 25px;
  }
}
