/* MoviesList.css */

.filter-container {
    background: #1c1c1c;
    display: flex;
    justify-content: center;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
  }
  
  .filter-container.fixed {
    top: 0; /* When the container is fixed, it moves to the top */
    position:fixed
  }
  
  .filter-button {
    font-family: 'Poppins', sans-serif;
    transition: transform 0.2s, box-shadow 0.2s;
    background: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 7px;
    cursor: pointer;
    border-radius:10px 10px 10px 10px;
    display: flex; /* Use flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensure text is centered */
  }
  
  .filter-button:hover {
    background: #555;
    transform: scale(1.1);
  }

  /* Active (selected) state: keep scaled up */
.filter-button.active {
  transform: scale(1.1);
  background-color: #0056b3; /* Optional: change background color to indicate active state */
}
  
  .movie-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    background-color: #1c1c1c;
    padding: 20px;
    padding-top: 60px;
  }
  
  body {
    overflow-x: hidden;
    background-color: #121212;
    color: #ffffff;
  }
  
  
